Source: mediastorage-proxy
Section: net
Priority: optional
Maintainer: Artem Sokolov <derikon@yandex-team.ru>
Build-Depends: debhelper (>=5),
 cmake (>= 2.6),
 cdbs,
 libthevoid2 (>= 0.7.0.3), libthevoid2 (<< 0.8),
 libthevoid-dev (>= 0.7.0.3), libthevoid-dev (<< 0.8),
 libmastermind-dev (>= 8.14),
 elliptics-dev (>= 2.26.3.13), elliptics-dev (<< 2.27),
 cocaine-framework-native (>= 0.11),
 cocaine-framework-native-dev (>= 0.11),
 libcocaine-core2 (>= 0.11),
 libcocaine-dev (>= 0.11),
 libboost-system-dev,
 libswarm2 (>= 0.7.0.3), libswarm2 (<< 0.8),
 libswarm-dev (>= 0.7.0.3), libswarm-dev (<< 0.8),
 libboost-dev,
 libmsgpack-dev,
 libglib2.0-0,
 libglib2.0-dev,
 libmagic-dev,
 libcrypto++-dev
Standards-Version: 3.9.1

Package: mediastorage-proxy
Architecture: any
Depends: ${shlibs:Depends}, libthevoid2 (>= 0.7.0.3), libthevoid2 (<< 0.8), libswarm2 (>= 0.7.0.3), libswarm2 (<< 0.8), libyandex-ubic-shared-perl, libfcgi-procmanager-perl, libfcgi-perl, libfcgi-client-perl, libbsd-resource-perl, liblwp-protocol-http-socketunixalt-perl, elliptics-client(>= 2.26.3.13)
Description: Proxy with elliptics support based on thevoid

