Source: mediastorage-proxy
Section: net
Priority: optional
Maintainer: Artem Sokolov <derikon@yandex-team.ru>
Build-Depends: debhelper (>=5),
 cmake (>= 2.6),
 cdbs,
 libthevoid2 (>= 0.8), libthevoid2 (<< 0.9),
 libthevoid-dev (>= 0.8), libthevoid-dev (<< 0.9),
 libmastermind-dev (>= 8.26),
 elliptics-dev (>= 2.26.3.33-6), elliptics-dev (<< 2.26.3.34),
 cocaine-framework-native (>= 0.11), cocaine-framework-native (<< 0.12),
 cocaine-framework-native-dev (>= 0.11), cocaine-framework-native-dev (<< 0.12),
 libcocaine-core2 (>= 0.11), libcocaine-core2 (<< 0.12),
 libcocaine-dev (>= 0.11), libcocaine-dev (<< 0.12),
 libboost-system-dev,
 libswarm2 (>= 0.8), libswarm2 (<< 0.9),
 libswarm-dev (>= 0.8), libswarm-dev (<< 0.9),
 libboost-dev,
 libmsgpack-dev,
 libglib2.0-0,
 libglib2.0-dev,
 libmagic-dev,
 libcrypto++-dev,
 libyandex-utils-http,
 libcurl4-openssl-dev,
 handystats (>= 1.10.2), handystats (<< 1.11),
 libssl-dev,
Standards-Version: 3.9.1

Package: mediastorage-proxy
Architecture: any
Depends: ${shlibs:Depends}, libthevoid2 (>= 0.8), libthevoid2 (<< 0.9), libswarm2 (>= 0.8), libswarm2 (<< 0.9), libyandex-ubic-shared-perl, libfcgi-procmanager-perl, libfcgi-perl, libfcgi-client-perl, libbsd-resource-perl, liblwp-protocol-http-socketunixalt-perl, elliptics-client(>= 2.26.3.33-6), elliptics-client(<< 2.26.3.34), handystats (>= 1.10.2), handystats (<< 1.11), ubic,
Description: Proxy with elliptics support based on thevoid

